<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <p>Hello&nbsp;<span th:text="${name}">name</span>,</p>
    </br>
    <p>Welcome! Looking forward to joining with you for 3 days of <b>Certified LeSS Practitioner: Principles to Practices by Bas Vodde.</b></p>
    </br>
    <p>My name is Jane, I am very excited to see you in person next week.</p>
    </br>
    <p>Since 2001, Agile development and Scrum in particular have revolutionized software development, but when asked how to apply Agile development to a large groups of many people, I used to answer “don’t” or “just use a small team”. None of those answers is particularly useful, and while it is true that it is best to avoid adding people to your development effort, it is also true that large scale product development isn’t going away so we need to discover ways to do it well.</p>
    </br>
    <p>This short <a href="https://www.youtube.com/watch?v=cvz4364pC0g">video</a> will be a very good start for those who would like to know, “Why LeSS?”. There are also a ton of case studies in <a href="https://less.works/case-studies">less.work</a> web site.</p>
    </br>
    <p>Below <b>preparations</b> and <b>location.</b></p>
    </br>
    <p>My goal is that you get the most learning and value out of our 3 days together as I can possibly help you to achieve, so some useful preparations:</p>
    </br>
    <p><b>1. SCRUM INSIGHT</b>: First, <a href="https://less.works/">LeSS</a> involves Large-Scale <i>Scrum</i>, and this course assumes a <b><i>thorough</i></b> understanding of the key ideas of basic “one team” Scrum. Pre-course <i>Scrum</i>-knowledge self-assessment <a href="https://less.works/less/scrum/assessment">here</a>.</p>
    </br>
    <p><b>2. BASIC LeSS KNOWLEDGE</b>: A pre-course <i>LeSS</i>-knowledge self-assessment <a href="https://less.works/less/scrum/assessment">here</a>.</p>
    </br>
    <p style="margin-bottom: 0">The <b>location</b> is: Crowne Plaza Bangkok Lumpini Park</p>
    <p style="margin: 0">Map: https://goo.gl/maps/vFgWjBxDWB7ph3oK9</p>
    <p style="margin-top: 0">Looking for the Odd-e sign or the room name “Sathorn“.</p>
    </br>
    <p>The class will start at 09.00 - 18.00. Please be on time or even better to come early to networking and enjoy coffee. </p>
    </br>
    <p style="margin-bottom: 0">The <b>course page</b> is:</p>
    <p style="margin-top: 0">https://less.works/course-details/certified-less-practitioner-bangkok-2955</p>
    </br>
    <p>Thank you,</p>
    </br>
    <p style="margin-bottom: 0">Phongsak Ritpitakphong (Jane)</p>
    <p style="margin: 0; color: gray; font-size: x-small">Agile Coach</p>
    <p style="margin: 0; color: gray; font-size: x-small">Odd-e</p>
    <p style="margin-top: 0; color: gray; font-size: x-small">Tel: +6681-286-9912</p>
</body>
</html>